header a, header a:focus, header a:hover, .nav-masthead .nav-link {
    text-decoration: none;
    color: #777;
    font-weight: normal;
    padding: 0 0.5rem;
}

.nav-masthead .nav-link:focus, .nav-masthead .nav-link:hover {
    border-bottom-color: #777;
}

.nav-masthead span.active {
    border-bottom-color: transparent;
}

header h3 a, header h3 a:focus, header h3 a:hover {
    font-weight: bold;
    color: #333;
}

.code-sample {
    background-color: rgba(0,0,0,0.025);
    border: 1px solid transparent;
    padding: 10.5px;
    border-radius: 4px;
    float: right;
}

body, .cover-container {
    background-color: white;
    color: black;
    text-shadow: none;
    margin: 0;
    box-shadow: none;
    max-width: 100%;
}

.main-page {
    max-width: 82rem;
    margin-top: 2em;
    margin-left: auto!important;
    margin-right: auto!important;
}

.banner {
    margin-top: 5em;
    margin-bottom: 5em;
}

.masthead {
    margin-bottom: 0;
    padding: 1rem;
    padding-bottom: 0;
    background: white;
}

#left-area {
    width: 50%;
    float: left;
}

#right-area {
    width: 50%;
    float: right;
}

main, #left-area, #right-area, #code-area {
    height: 100%;
}

#result-area {
    padding: 1em;
}

.examples {
    padding: 1em;
    padding-top: 2em;
}

.cover-container {
    overflow-x: auto;
}